---
import * as m from '../paraglide/messages.js';
---

<div
  class="flex flex-col items-center justify-center gap-y-8 md:gap-y-12 bg-primary-11 text-center h-screen"
>
  <h2 class="text-2xl text-white mt-24">404</h2>
</div>
