---

---

<div
  class="prose light:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline w-full max-w-4xl mx-auto"
>
  <slot />
</div>
