---
import CookieCallbackListenerExample from '@/components/CookieCallbackListenerExample.astro';
import Welcome from '@/components/Welcome.astro';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'de' } }];
}

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex flex-col gap-y-14 md:gap-y-8 bg-white">
    <div class="mt-8"></div>
    <Welcome />
    <CookieCallbackListenerExample />
  </div>
</Layout>
