---
import { languageTag } from '../paraglide/runtime';
---

<!doctype html>
<html lang={languageTag()}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<script>
  import { logConsent } from '@/libs/cookiesUtils';

  // Store the initial consent state
  let lastConsent = JSON.stringify(logConsent());

  // Poll every 2 seconds for changes in the consent
  setInterval(() => {
    const currentConsent = JSON.stringify(logConsent());
    if (currentConsent !== lastConsent) {
      lastConsent = currentConsent;
      // Dispatch a custom event to notify other components
      document.dispatchEvent(new Event('cookieConsentChanged'));
    }
  }, 2000);
</script>
